body{
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 428px;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
}

.add_button{
    background-color: #ffffff;
    border-color: #ffffff;
    border: none;
    font-size: 50px;
    color: #75aaf9;
}

.contact_name{
    color: #767676;
}

ul{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

hr{
    border: 1px solid;
    color: rgb(176, 176, 176);
}

.contact_number, .contact_email{
    color: rgb(176, 176, 176);
}

a{
    text-decoration: none;
    color: #ffffff;
}


/* THIS IS FOR PERSONAL INFO HTML */

#choice1, #choice2{
    float: right;
}

.save_button{
    background-color: #1e71ee;
    padding: 12px 23px;
    border-radius: 3px;
    color: #ffffff;
    border-style: none;
    float: right;
    /* align-items: ; */
}

/* form input[type="radio"] {float: right;} */

.delete_button{
    background-color: #ffffff;
    padding: 11px 23px;
    border: 1px solid rgb(182, 179, 179);
    border-radius: 3px;
    color: #f83b3b;
}