{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="{% url 'add-contact' %}" >
                <button type="button" class="add_button"> + </button>
            </a>
            <h2>Team Members</h2>
            <p>You have 4 team members</p>
        </header>
        <hr>
        <section class="contact_library">
            <ul class="contact_list">
                <a href="#">
                    <div class="contact_section">
                        <li class="contact_single">
                            <h3 class="contact_name">John Doe</h3>
                            <p class="contact_number">778-888-0000</p>
                            <p class="contact_email">jdoe@instawork.com</p>
                        </li>
                    </div>
                </a>
                 <hr>
                <a href="#">
                    <div class="contact_section">
                    <li class="contact_single">
                        <h3 class="contact_name">Hayley Farm</h3>
                        <p class="contact_number">778-428-1230</p>
                        <p class="contact_email">hfarm@instawork.com</p>
                    </li>
                    </div>
                </a>
                 <hr>
                <a href="#">
                    <div class="contact_section">
                        <li class="contact_single">
                            <h3 class="contact_name">Jinny Fan</h3>
                            <p class="contact_number">604-238-1562</p>
                            <p class="contact_email">jfan@instawork.com</p>
                        </li>
                    </div>
                </a>
                 <hr>
                <a href="#">
                    <div class="contact_section">
                    <li class="contact_single">
                        <h3 class="contact_name">Mike Summer</h3>
                        <p class="contact_number">778-255-3316</p>
                        <p class="contact_email">msummer@instawork.com</p>
                    </li>
                    </div>
                </a>
                 <hr>


            </ul>
        </section>

    </div>
</body>
</html>