{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Information Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <h2>Add a team member</h2>
            <p>Set email, location and role.</p>
        </header>
        <hr>

        <form action="" method="POST">
            {% csrf_token %}
            <section class="contact_library">
                <h3>Info</h3>
            
                <div class="contact_form">
                    <input type="text" placeholder="First Name" name="firstName">
                </div>

                <div class="contact_form">
                    <input type="text" placeholder="Last Name" name="lastName">
                </div>

                <div class="contact_form">
                    <input type="email" placeholder="Email" name="email">
                </div>

                <div class="contact_form">
                    <input type="tel" placeholder="Phone Number" name="phoneNumber">
                </div>

                <h3>Role</h3>
                <div class="input_info">

                    <label for="choice1">Regular - Can't delete members</label>
                    <input type="radio" value="regular" name="roleUser">
                        
                    <hr>
                    <label for="choice2">Admin - Can delete members</label>
                    <input type="radio" value="admin" name="roleUser" >

                <hr>
                <input type="submit" class="save_button" value="Save">

                </div>

            </section>
        </form>

    </div>
</body>
</html>