{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Information Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <h2>Edit team member</h2>
            <p>Edit contact info, location and role.</p>
        </header>
        <hr>

        <section class="contact_library">
            <h3>Info</h3>
            <form action="" method="POST">
                {%  csrf_token %}
                <div class="contact_form">
                    <input type="text" value="{{contact.first_name | title}}" name="firstName">
                </div>

                <div class="contact_form">
                    <input type="text" value="{{contact.last_name |title}}" name="lastName">
                </div>

                <div class="contact_form">
                    <input type="email" value="{{contact.email}}" name="email">
                </div>

                <div class="contact_form">
                    <input type="tel" value="{{contact.phone_number}}" name="phoneNumber">
                </div>

                <h3>Role</h3>
                <div class="input_info">

                    <label for="choice1">Regular - Can't delete members</label>
                    <input type="radio" id="choice1" name="role">
                        
                    <hr>
                    <label for="choice2">Admin - Can delete members</label>
                    <input type="radio" id="choice2" name="role" >
                <hr>
                <br>
                <input type="button" class="delete_button" value="Delete">
                <input type="submit" class="save_button" value="Save">
            </form>

            </div>

        </section>

    </div>
</body>
</html>