{% extends "base.html" %}
{% block content %}

<body>
    <div class="container">
        <header class="header">
            <h2>Add a team member</h2>
            <p>Set email, location and role.</p>
        </header>
        <hr>

        <form action="" method="POST">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            
            <section class="contact_library">
                <h3>Info</h3>
            
                <div class="contact_form">
                    {{form.first_name}}
                </div>

                <div class="contact_form">
                    {{form.last_name}}
                </div>

                <div class="contact_form">
                    {{form.email}}
                </div>

                <div class="contact_form">
                    {{form.phone_number}}
                </div>

                <h3>Role</h3>
                <div class="input_info">

                    {{form.role}}

                    <hr>
                <input type="submit" class="save_button" value="Save">

                </div>

            </section>
        </form>

    </div>
</body>
{% endblock %}
